<section class="dealer-listing" id="listing-{{ dealer.name | slugify }}">
<div class="gallery">
<div class="dealer-info">
<h2>{{ dealer.name }}</h2>
<p><em>{{ dealer.what_is_sold | markdownify }}</em></p>
<p class="link">{{ dealer.link | markdownify }}</p>
<p>{{ dealer.description }}</p>
</div>
{% if dealer.contact.size > 0 or dealer.city.size > 0 or dealer.state.size > 0 %}
<p>
{% if dealer.contact.size > 0 %}
{% unless dealer.contact == dealer.name %}
{{dealer.contact}}, 
{% endunless %}
{% endif %}
{% if dealer.city.size > 0 %}
{{dealer.city}}, 
{% endif %}
{% if dealer.state.size > 0 %}
{{dealer.state}}
{% endif %}
</p>
{% endif %}
{% for file in dealer.images %}
{% assign folder_path = 'background-image:url({{site.baseurl | append: site.url}}/assets/images/dealers/' %}
<div class="gallery-image"
role="img"
aria-label="{{dealer.what_is_sold}} of {{dealer.name}}."
style={{ file | prepend: folder_path | append: ')' }}>
</div>
{% endfor %}
  </div>
</section>