<section class="dealer-listing" id="listing-{{ dealer.name | slugify }}">
<div class="gallery">
<div class="dealer-info">
<h2>{{ dealer.name }}</h2>
{% if dealer.contact.size > 0 or dealer.city.size > 0 or dealer.state.size > 0 %}
<p>
{% if dealer.contact.size > 0 %}{% unless dealer.contact == dealer.name %}{{dealer.contact}}, {% endunless %}{% endif %}{% if dealer.city.size > 0 %}{{dealer.city}}, {% endif %}{% if dealer.state.size > 0 %}{{dealer.state}}{% endif %}
</p>
{% endif %}
<p><em>{{ dealer.what_is_sold | markdownify }}</em></p>
<p class="link">{{ dealer.link | markdownify }}</p>
<p>{{ dealer.description }}</p>
</div>
{% for file in dealer.images %}
{% assign folder_path = site.url | append: site.baseurl | prepend: 'background-image:url(' | append: '/assets/images/' %}
<div class="gallery-image"
role="img"
aria-label="{{dealer.what_is_sold}} of {{dealer.name}}."
data-folderpath="{{folder_path}}"
data-filename="{{file}}"
style={{ file | prepend: folder_path | append: ')' }}>
</div>
{% endfor %}
  </div>
</section>