<script>
  const convention_video = document.getElementsByClassName("convention-video")[0];
  const convention_chat = document.getElementsByClassName("convention-chat")[0];
  const resizeVideoAndChat = () => {
    const w = (window.innerWidth / 2) - 40;
    // Maintain a 16-9 aspect ratio
    const h = (w / 16) * 9;
    convention_video.style.width = `${w}px`;
    convention_chat.style.width  = `${w}px`;
    convention_video.style.height = `${h}px`;
    convention_chat.style.height  = `${h}px`;
  } 
  window.addEventListener("resize", resizeVideoAndChat, false);
  document.addEventListener('fullscreenchange', resizeVideoAndChat, false);
  resizeVideoAndChat();
  </script> 