<aside class="disclaimers">
  <p>
    If this embedded stream is not working or you prefer it, you can watch on 
    Twitch directly. You will not be able to comment there.
    <br />&nbsp;<br />
    Captions are being provided by REV automatic transcriptions. They boast an 85%
    accuracy rate. We are aware that they will mangle many names and complicated
    words. Be aware that the captions are machine generated. Thank you for your
    understanding in the case of mistakes.
    <br />&nbsp;<br />
    <a href="https://pacsec.jp/{{include.name}}.html" target="_blank">Click here to view the stream in a separate tab.</a>
  </p>
  <p>
    In order to use the Titan chat embed to talk with other attendees or ask 
    questions, you will need to log in to our Discord and accept the Code of Conduct,
    and then authenticate your account in the embed window. If you do not see an 
    Accept button on the Discord window, you will need to zoom out on your browser 
    (ctrl+- on pc, cmd+- on mac).
    <br />&nbsp;<br />
    You may change channels by clicking
    <span class="hamburger-menu-image">&nbsp;&nbsp;&nbsp;</span>
    in the top left of the chat widget.
  </p>
</aside>
